* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
  height: auto;
  background-color: #f3f5fc;
}

header {
  width: 100%;
  height: 10rem;
  background-color: rgb(12, 14, 14);
  display: flex;
  justify-content: center;
}

.menus {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

/*.menuEsquerda {
  background-color: aqua;
}

.menu_direita {
  background-color: rgb(52, 12, 40);
}*/

.redesSociais {
  width: 100%;
  height: 4rem;
  display: flex;
  align-items: center;
  display: flex;
  gap: 2rem;
  justify-content: flex-end;
}
.socialnetworks {
  width: 4rem;
  height: 4rem;
  flex-direction: row;
}
.socialnetworks a {
  font-family: "Inter";
  color: white;
  text-decoration: none;
  font-size: 17px;
}
.socialnetworks img {
  width: 100%;
  height: 100%;
}
.socialnetworks img:hover {
  background-color: #0a3871;
  border-radius: 35%;
}
.socialnetworks a:hover {
  color: #0a3871;
  text-shadow: 0.1em 0.1em #f3f5fc;
}

.acessar {
  width: 10rem;
  height: 3rem;
  background-color: rgb(255, 255, 255);
  border-radius: 1rem;
  display: flex;
  text-align: center;
}
.acessar a {
  color: #000000;
  font-family: "Inter";
  font-size: 19px;
  padding: 10px;
  text-decoration: none;
}
.acessar:hover {
  background-color: #0a3871;
}
.acessar a:hover {
  color: #f3f5fc;
}

.container {
  margin-top: 40px;
  width: 100vw;
  display: flex;
  justify-content: space-evenly;
}
textarea{
  width: 45.5rem;
  height: 748px;
  border: none;
  font-family: "Inter";
  font-size: 25px;
  color: #0a3871;
  margin-top: 8px;
  background-color: #ffffff;
  padding: 1.5rem;
  border-radius: 1rem;
}



.paidetds {
  width: 100%;
  height: 4rem;
  align-items: center;
  justify-content: space-between;
}

.alert_input {
  width: 20rem;
  margin-top: 1.2rem;
  height: 1.125rem;
  display: flex;
  gap: 0.5rem;
}
.alert_input p {
  font-family: "Inter";
  font-size: 18px;
  color: #495057;
  opacity: 0.8;
}

.inputs {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 1rem;
}

button {
  width: 23rem;
  height: 4.188rem;
  border-radius: 0px;
  margin-bottom: 1.5rem;
  background-color: #0a3871;
  border-radius: 1.5rem;
  text-align: center;
  cursor: pointer;
  color: white;
  font-size: 19px;
  text-decoration: none;
  font-family: Inter;
}
button:hover { 
  width: 23rem;
  height: 4.188rem;
  background-color: #453d90;
  border-radius: 1.5rem;

}

.ativo{
  width: 23rem;
  height: 4.188rem;
  border-radius: 1.5rem;
}

.copiado{
  background-color: green;
}

.input_button_b{
  width: 23rem;
  height: 4.188rem;
  border-radius: 0px;
  background-color: #4d4f51;
  border-radius: 1.5rem;
  text-align: center;
  cursor: pointer;
  color: white;
  font-size: 19px;
  text-decoration: none;
  font-family: Inter;
}
.input_button_b:hover{
  width: 23rem;
  height: 4.188rem;
  background-color: #453d90;
  border-radius: 1.5rem;
}
.modal_rigth {
  width: 400px;
  height: 900px;
  background-color: #ffffff;
  box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
  display: flex;
  align-items: center;
  justify-items: center;
  flex-direction: column;
  border-radius: 32px;
}
.modal_rigth img {
  padding-top: 3rem;
}
.txt {
  width: 90%;
  height: 45rem;
  padding-top: 2rem;
}
.txt p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 150%;
}

@media screen and (max-width: 600px) {
  div.example {
    display: none;
  }
}
